{% extends "layout.html" %}

{% block body %}

<div class="plant-container row " > 
    {% for plant in allplants  %}
    <div class="plant-card">
        <h1 style="color: rgb(131, 131, 131);">{{ plant.name }}</h1>
        <img src="{{ plant.image }}" alt="{{ plant.name }}" height="300">
        <div class="info-card">
            <br>
            <p style="color: rgb(131, 131, 131);">{{ plant.description }}</p>
            <p style="color: rgb(131, 131, 131);">Price: {{ plant.price }}</p>
            <p style="color: rgb(131, 131, 131);">Region: {{ plant.region }}</p>
            <br>
        </div>
        <form action="{% url 'addcart' %}" method="post">
            {% csrf_token %} 
            <input name= "plant_id" type="hidden" value="{{ plant.id}}">
            <input type="submit" value="Add to cart" >
        </form>
        <br>


    </div>
    {% endfor %}
</div>

<style>

@font-face {
  font-family: futura;
  src: url(sansation_light.woff);
} 

body {
    /*background-color: #f4ffd9;*/
    background-image: url("https://www.hdwallpapers.in/download/cloud_sky_white_background_hd_white_background-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: futura;
    margin: 0;
    padding: 0;
  }

h1 {
    font-family: futura;
}

.plant-container {
    display: flex;
    gap: 0;
    overflow: hidden; /* To prevent overflowing images */
    width: 100%;
    flex-wrap: wrap;
}

.plant-card {
    flex: 0 0 calc(33.33% - 1px); /* Adjusted width calculation */
    padding: 0;
    margin: 0;
    border: 0;
}

.info-card {
    margin: 2;
}

.plant-card img {
    width: 100%;
    height: auto;
}
</style>

{% endblock %}
